@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext');

/* Global Settings */
body {
  font-family: "Ubuntu", sans-serif;
  background: linear-gradient(to top right, #D585FF, #00FFEE);
  margin: auto;
}

img {
  position: relative;
  display: block;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}


#main {
  background-color: #662D8C;
  color: #000;
  width: 70%;
  margin: auto;
  /* padding: 0px 0px 0px 0px; */
  display: table;
}

/* Header Settings */
#header {
  padding: 0px 20px 0px 20px;
  overflow: hidden;
  margin: 0 auto;
  background: linear-gradient(to top right, #FCA5F1, #B5FFFF)
}

#header img {
  width: 48px;
  padding: 0px 0px 0px 0px;
  display: inline-block;
}

#header h1 {
  text-decoration: none;
  font-weight: 100;
  font-size: 48px;
  text-align: center;
}

/* Menu Settings */
#menu {
  padding: 0px;
  background: #b92b27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  width: 100%;
  margin: 0px;
  display: table;
}

#menu ul {
  display: inline;
  list-style: none;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
}

#menu li {
  display: inline;
  padding-right: 0px;
  list-style: none;
  text-decoration: none;
  margin: 0px;
}

#menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px 10px;
  display: block;
  float: left;
  text-align: center;
}

#menu a:HOVER {
  padding-bottom: 8px;
  border-bottom: 2px solid #E0F7FA;
}

#menu a.active {
  padding-bottom: 8px;
  border-bottom: 2px solid #E0F7FA;
}

/* Main Body Content */
#content {
  width: 75%;
  float: right;
  background-color: #eee;
  overflow: hidden;
  margin: 0;
  padding: 0px 20px;
}



/* Sidebar */
#sidebar {
  background-color: #662D8C;
  color: #ffffff;
  padding-top: 0px;
  text-align: center;
  margin: 0;
  overflow: hidden;
  position: relative;
  height: 100%;
}

#Sidebar ul {
  list-style: none;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
}

#sidebar li {
  padding-right: 0px;
  list-style: none;
  text-decoration: none;
}

#sidebar a {
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  display: block;
}

#sidebar a:HOVER {
  background: fuchsia;
}

#sidebar a.active {
  background:  fuchsia;
}

#footer {
  float: right;
  width: 100%;
  text-align: center;
  background-color: #eee;
  background: linear-gradient(to top right, #FCA5F1, #B5FFFF);
  padding: 10px 0;
}

#footer a:visited {
  color: #0000EE;
}

#footer a:hover {
  color: #551A8B;
}
